.section {
    max-width: 400px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    -webkit-box-shadow: 6px 10px 31px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 6px 10px 31px -1px rgba(0,0,0,0.3);
    box-shadow: 6px 10px 31px -1px rgba(0,0,0,0.3);
  }

.title {
    font-size: 32px;
    color: rgb(46, 46, 48);
    padding: 10px;
    margin: 0;
};

